wallet==2.1.525
urllib3==1.26.15  
smmap2==2.0.5     
six==1.16.0       
setuptools==41.2.0
s3transfer==0.6.1 
requests==2.28.2  
pyyaml==6.0       
python-dateutil==2.8.2
pip==23.1.2
jmespath==1.0.1
idna==3.4
gitpython==3.0.5
gitdb2==2.0.6
charset-normalizer==3.1.0
certifi==2022.12.7
botocore==1.29.133
boto3==1.26.133